body{
  background-color: #45a049;
}
  h3{
    color:white;
  }
.hea{
background-color: #ff00ea;
color:black;
margin: 20px 670px 200px 200px;
align-content: center;
}
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0 30px 5px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=password], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0 30px 5px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 10px ;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  margin: 0px 20px 20px 20px;
}