body{
    background-color: rgb(100, 5, 37);
    color:white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 200px;
}
.main{
    background-color: rgb(206, 188, 188);
    padding-left: 30px;
    margin-right: 200px;
    border-radius: 10px;
}
.user-info{
    margin-left: 100px;
    margin-top: 50px;
}
.inline-info{
    display: inline-flex;
}
#symp-info{
    margin-left: 80px;
    background-color: rgb(83, 73, 73);
    width:300px;
    height: 60px;
    padding-left: 20px;
    border-radius: 10px;
}
#profile-info{
    margin-left: 80px;
    background-color: rgb(163, 241, 36);
    width:300px;
    height: 60px;
    padding-left: 20px;
    border-radius: 10px;
}
a{
    text-decoration: none;
    color:white;
}
.doctors-details{
    background-color: rgb(229, 248, 248);
    margin-right:200px ;
    padding-left: 50px;
    height: 400px;
    padding-top: 30px;
    color: indigo;
    margin-top: 20px;

}
.inline{
    display: inline-flex;
}
.inline h2{
    margin-left: 20px;
}
.inline h3{
    margin-left: 20px;
}
#back{
    margin-left: 650px;
}