body{
    background-image: url("/static/images/mainbg.jpg");
background-size: 1550px 900px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.heading{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: inline-flex;
    background-color: rgb(31, 21, 82);
    color:white;
    padding-right:100px;
    padding-left:20px;
    border-radius: 10px;
    width:1400px;
}
.user-log{
    margin-left:10px;
    margin-top:20px;
    margin-right:10px;
}
.user-log a{
    text-decoration: none;
    color:white;
    padding: 2px 2px 1px 1px;
}
.doc-log{
    margin-left:20px;
    margin-top:20px;
    margin-right:50px;
}
.doc-log a{
    text-decoration: none;
    color:white;
     padding: 2px 2px 1px 1px;
}
.doctor-login{
    margin-left: 50px;
}

.about{

margin-left: 300px;
color:white;
background-color:rgb(69, 51, 92);
padding-left: 30px;padding-right: 10px;padding-bottom: 10px;padding-top: 10px;
border-radius: 5px;
margin-top: 20px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.vl {
    border-left: 2px solid rgb(217, 238, 217);
    height: 160px;
    margin-top: 10px;
    margin-left: 25px;
   
}
.user-login{
    display:inline-flex;
    
    background-color:rgba(167, 53, 87, 0.726);
    margin-left: 500px;
    margin-top: 30px;
    padding-left: 20px;
    padding-right: 30px;
  border-radius: 10px;
    width:500px;
    height:200px;
    color:white;
}
.user-login h3{
    margin-left:100px;
}
.user-log{
    margin-left:100px;
}
#doc-login-h3{
    margin-left:20px;
}
.main{
    display: inline-flex;
}
.main-abt{
    display: inline-flex;
}
#doc-signin-but{
    background-color: rgb(15, 6, 15);
    width: 100px;
    height:30px;
    padding-left: 20px;
    border-radius: 5px;
    cursor: pointer;
}
#doc-signin-but:hover{
    background-color:rgba(238, 130, 238, 0.534) ;
}
#pat-signin-but{
    background-color: rgb(22, 58, 36);
    width: 100px;
    height:30px;
    padding-left: 20px;
    border-radius: 5px;
    cursor: pointer;
}
#pat-signin-but:hover{
    background-color: rgba(66, 224, 127, 0.63) ;
}
