body{
    background-image: url("/static/images/mainbg.jpg");
    background-size: 1550px 900px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.page{
    
    font-size:25px;
    background-color: rgba(24, 51, 54, 0.507);
    color:white;
    border: black medium solid;
     text-align: center;
     
}
.logout{
    border-radius: 10px;
    background-color: #301480cb;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: right;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.logout:hover{
    background-color: rgba(212, 212, 241, 0.788);
    color: black;
}
.logout a{
    text-decoration: none;
    color:white;
}

.inline{
    display: inline-flex;
    margin-left: 20px;
}
.inline a{
    text-decoration: none;
    color:white;
}
#log{
    margin-left:700px;
}
#notify{
    background-color: red;
    width:130px;
    height:30px;
    border-radius: 10px;
    padding-left: 10px;
    padding-top: 10px;
}
#notify:hover{
    background-color: green;
}


.profile{
    display: inline-flex;
    margin-left: 20px;
}
.hosp-btn{
    text-align: center;
    background-color: rgb(124, 171, 202);
    width: 1000px;
    height: 60px;
    margin-left: 300px;
    color: white;
    padding-top: 2px;
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.hosp-list{
    background-color: white;
    width: 1000px;
    
    margin-left: 300px;
    margin-top: 10px;
    padding-top: 20px; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
li{
    list-style-type: none;
    height: 30px;
}
#hosp1{
    background-color: rgba(0, 128, 0, 0.637);
    
}

#hosp-table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
  
  #hosp-table td, #hosp-table th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  #hosp-table tr:nth-child(even){background-color: #f2f2f2;}
  
  #hosp-table tr:hover {background-color: #ddd;}
  
  #hosp-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
  }
  a{
      text-decoration: none;
      color:rgb(214, 39, 39);
  }
  #user h3{
      color: white;
  }
  .hosp-inline{
      display: inline-flex;
      
  }
  #link{
      margin-left: 200px;
  }
  #hosplist{
    margin-left: 200px;
    
}
.hosp-head{
      background-color: #4CAF50;
  }
  ::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(18, 13, 49); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
  }
  .data-info{
      display: inline-flex;
      margin-top: 10px;
  }
  #sym{
      margin-left:100px ;
      background-color: green;
      width:100px;
      height:30px;
      color:white;
      border-radius: 10px;
      padding-left: 30px;
      padding-top: 10px;
  }
  #pro{
    
    background-color: rgba(128, 0, 21, 0.658);
    width:110px;
    height:30px;
    color:white;
    border-radius: 10px;
    padding-left: 10px;
    padding-top: 10px;
}
#sym:hover{
    background-color: #25d12b;
}
#pro:hover{
    background-color: #361618;
}

  a{
      color:white;
  }