body{
  background-color: rgb(161, 113, 96);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
li{
  list-style-type: none;
}
.notify{
  display: inline-flex;
  margin-left: 30px;
}
#back{
  margin-left: 1100px;
  
  font-weight: bold;
}
a{
  
color:white;
  text-decoration: none;
}
.user-notify{
  background-color: indigo;
  color:white;
  width: 900px;
  height:50px;
  cursor: pointer;
  padding-left: 30px;
  border-radius: 10px;
  padding-top: 10px;
}
.user-notify:hover{
  background-color: blue;
}
