body {font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: url("/static/images/userreg.jpg");
    background-size: 1550px 900px;
}
    form {border: 3px solid #f1f1f1;}
    
    input[type=text], input[type=password] {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid rgb(177, 75, 75);
      box-sizing: border-box;
    }
    
    button {
      background-color: #d1ff2b;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      cursor: pointer;
      width: 100%;
    }
    
    button:hover {
      opacity: 0.8;
    }
    
    .cancelbtn {
      width: auto;
      padding: 10px 18px;
      background-color: #dd8e89;
    }
    .container a{
      text-decoration: none;
      color:white;
    }
    
    .imgcontainer {
      text-align: center;
      /*margin: 49\px 0 498px 0;*/
    }
    
    img.avatar {
      width: 40%;
      border-radius: 50%;
    }
    
    .container {
      padding: 16px;
    }
    
    span.psw {
      float: right;
      padding-top: 16px;
    }
    
    /* Change styles for span and cancel button on extra small screens */
    @media screen and (max-width: 300px) {
      span.psw {
         display: block;
         float: none;
      }
      .cancelbtn {
         width: 100%;
      }
    }
    form{
        margin-left: 100px;
        margin-right: 800px;
        margin-top: 20px;
        margin-bottom: 50px;
    }
    .log{
        margin-left:100px;
       margin-right:800px;
        padding-top:20px;
        padding-bottom: 10px;
        margin-top: 30px;
        display: block;
        text-align: center;
        background-color: rgb(39, 44, 71);
        color:white;
        padding-right: 0px 0px 20px 20px;
    }
    #signup-btn{
      width:100px;
      height:30px;
    margin-left: 230px;
    cursor: pointer;
    background-color: rgb(156, 81, 93);
    color:white;
    }
    
    