<!DOCTYPE html>
<html>
    <head>
        <title>Doctor Portal | COVID-19 Detector</title>
        <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='docmain.css')}}">
    </head>
    <body>
        <div class="main">
             <h3>
                 Doctor's Portal
             </h3>
        </div>
        <div >
            <button class="logout" id="logout"><a href={{ url_for('doclogout') }}>Logout</a></button>
        </div>
             <div class="notification">
                <ul>
                    <li>
                        <a href="notifications.html"><div class="notify-container">Ashwin Kumar</div></a>
                    </li><br>
                    <li>
                        <a href="notifications.html"><div class="notify-container">Ashwin Kumar</div></a>
                    </li>
                </ul>
             </div>
        
    </body>
</html>