<!DOCTYPE html>
<html>
    <head>
        <title>Doctor Portal | DocCOVID 19</title>
        <link rel="icon" href="/static/images/corona.jpg">
        <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='docmain.css')}}">
    </head>
    <body>
        <div class="main">
            <div class="doc-inline">
             <h3>
                 Doctor's Portal
             </h3>
             </div>
             <div class="doc-inline" id="hosp-name">
             {% for doc in doctorlog: %}
        {{doc.dname}} | {{doc.dhospital}}
         {% endfor %}
         </div>
        </div>
        

        <div >
            <button class="logout" id="logout"><a href={{ url_for('doctorlogout') }}>Logout</a></button>
        </div>
             <div class="notification">
                <ul>
                    {% for row in patientnotify %}
                    <li>
                        <a href="/notifications/{{row.email}}"><div class="notify-container">{{ row.name }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; {{ row.prodate }}</div></a>
                    </li><br>
                    
                   {% endfor %}
                </ul>
             </div>
        
    </body>
</html>