<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='docreg.css')}}">
    
</head>
<body style="padding: 5px 250px 5px 20px; background-image: url('userpic.png');
">

<div class="hea"><center><h3> Doctor Registration</h3></center>

<div>
  <form action="/docreg" method="POST">
    <label for="name"> Name</label>
    <input type="text" id="name" name="doc_uname" placeholder="Username..">

    <label for="email">email</label>
    <input type="text" id="ename" name="doc_email" placeholder="honio@gmail.com">
    
    <label for="password">Password</label>
    <input type="password" id="password" name="doc_psw" placeholder="type password">
    
    <label for="c_pass">confirm password</label>
    <input type="text" id="c_pass" name="doc_conpsw" >
     <div class="msg">{{msg}}</div>
    <input type="submit" value="Register">
  </form>
</div>

</body>
</html>
