<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='index.css')}}">
        <title>COVID-19 Detector</title>
</head>
<body>
   <div class="heading">
        <h3>DocCovid 19 - Online Covid Detector</h3>
   </div>
    <div class="main-abt">
        <div class="about">
            <b><center>ABOUT </center></b>
            <p>Hey this time is very dangerous 😲</p>
            <p>Modern webapp to take a test on COVID-19 in a smart way. You can easily get the details from this web application.</p>
            <p>This will help you from wasting your time in the hospital.</p>
        </div></div>

    <!--Login area-->
    <div class="user-login">
        <form action="/userlog" method="POST">
            <h3>User</h3>
            <div class="user-log" id="pat-signin-but"><a href="/userlog">Signin</a></div> <br>
            <div class="user-log" id="pat-signin-but"><a href="/userreg">Signup</a></div>
            </form>
            <div class="vl"></div>

    <div class="doctor-login">
        <form action="/userlog.html" method="POST">
            <h3 id="doc-login-h3">Doctor</h3>
            <div class="doc-log" id="doc-signin-but" ><a href="/doclog">Signin</a></div> <br>
            <div class="doc-log" id="doc-signin-but"><a href="/docreg">Signup</a></div>
            </form>
    </div></div>
    <!--end of login-->
</body>