<html>
<head> 
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='main.css')}}" >
<title>Portal</title>
</head>
<body>
    <div class="page">
     <p><B>DocCOvid 19</B></p>
    </div>
    <div >
      <div  class="inline" id="user">
         <h3>{{session.user_email}} !</h3>
      </div>
      <div class="inline" id="notify" >
         <a href="/usernotification">Notification</a>
      </div>
         
       <div class="inline" id="log">
        <button class="logout" id="logout"><a href={{ url_for('userlogout') }}>Logout</a></button>
      </div>
   </div>
   <div class="hosp-btn">
          <h3>Hospitals</h3>
   </div>
   <div class="hosp-list">
    <div class="hosp-head"> <div class="hosp-inline" id="hosplist" ><h3>Hospital</h3></div></div>
     <ul>
        {% for row in docdata %}
        <li>
           <div><a href="/hospitals">{{row.dhospital}}</a> </div>
        </li>
        {% endfor %}
     </ul>
     
        
            
           

</div>

     
    

 

    
</body>
</html>



   