<html>
<head> 
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='main.css')}}" >
<title>DocCOVID 19 Portal</title>
<link rel="icon" href="/static/images/corona.jpg">
</head>
<body>
    <div class="page" id="inlineflex">
     <p><B>DocCOvid 19</B></p>
     <div  id="inlineflex" class="notify"  >
      <a href="/usernotification">Notifications</a>
     </div>
     <div class="inline" id="log" id="inlineflex">
      <button class="logout" id="logout"><a href={{ url_for('userlogout') }}>Logout</a></button>
    </div>
    </div>
     <div >
      <div  class="inline" id="user">
         <h3>{{session.user_email}} !</h3>
      </div>
      </div>
   <div class="hosp-btn">
          <h3>Hospitals</h3>
   </div>
   <div class="hosp-list">
    <ul>
        {% for row in hospdata %}
        <li>
           <div class="hosp-data">
               <b>Hospital Name:</b>  {{row.dhospital}}<br>
               <b>Address :</b>  {{row.haddress}}. <br>
              <b>Doctor Name:</b> {{row.dname}} <br>
             <b> Email Address:</b> {{row.dmail}}<br>
             <div class="data-info"><a href ="/userprofile" id="pro">Share Profile</a></div><div class="data-info" id="sym"><a href ="{{row.dwebsite}}" target="_blank">Website</a></div>
            </div>
        </li><br><br><br><br><br><br><hr>
        {% endfor %}
     </ul>
   </div>
</body>
</html>



   