<html>
<head> 
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='main.css')}}" >
<title>Portal</title>
</head>
<body>
    <div class="page">
     <p><B>COVID-19 DETECTOR</B></p>
    </div>
    <div >
        <button class="logout" id="logout">Logout</button>
    </div>
     <div class="main">        
        <div class="profile">
        <a href="profile.html"><input type="button" class="my_button1" value="Profile"></a>
         </div>
         <div class="symptoms">
            <a href="symptom.html"> <input type="button" class="my_button4" value="Symptoms"></a>
        </div>

     <div class="notification">
        <a href="notify.html"><input type="button" class="my_button2" value="Notification"></a>
     </div>

     </div>

    
</body>
</html>