<html>
<head>
    <title>user messages</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='message.css')}}">
</head>

<body>
    <div class="notify" id="msg">Messages</div>
    <div class="notify"><div id="back"><a href="/main">Back</a></div></div>
 
      
          <div class="name">
              
            <div class="file"><b>File &nbsp;&nbsp;&nbsp;: </b>  </div><br>                      
            <div class="dresult"><b> Doctor's Result: </b> </div> <br>
            <div class="mresult"><b> ML Result: </b> </div> <br>
            <div class="gresult"><b> Grant Result: </b> </div> <br>
       
          </div>
    
       
      
</body>
</html>