<!DOCTYPE html>
<html>
    <head>
        <title>Messages</title>
        <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='notifications.css')}}">
    </head>
    <body>
        <div class="main">
            <div class="window">
            <h2>Message from {{user_uname}}</h2>
            <h3>Symptoms</h3>
            <ul>
                <li><h3></h3></li>
                
                
            </ul>
            <div class="profile">
            <h3>Details</h3>
            <h4>Name:</h4>
            <h4>Blood group:</h4>
            <h4>Age:</h4>
        </div>
        <form action="" class="filehandler">
            <input type="file" id="myFile" name="filename">
            <input type="submit">
          </form>

           

            </div>
        </div>
    </body>
</html>