<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type=text/css href="{{url_for('static',filename='profile.css')}}">
</head>
<body>
  <div>
    <div class="head-title"  id="symp">User Information</div>
    <div class="head-title" id="back"><a href="/hospitals">Back</a></div>
  </div>
<section class="page"> 
<form action="/userprofile" method="POST">
  <div class="container">
    

    <label for="name"><b>Name</b></label>
    <input type="text" placeholder="Enter Name" name="pro_name" id="email" required>
    <label for="name"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="pro_email" id="email" required>

    <label for="email"><b>Age</b></label>
    <input type="text" placeholder="Enter Age" name="pro_age" id="email" required>
    <label for="dob"><b>Date of Birth</b></label>
    <input type="text" placeholder="D.O.B" name="pro_dob" id="dob" required>
    <label for="gender"><b>Gender</b></label>
   <select id="genders" name="pro_gender">
       <option>Male</option>
       <option>Female</option>
       <option>Others</option>
   </select>
    <label for="bloodgroup"><b>Blood group</b></label>
    <input type="bloodgroup" placeholder="Bloodgroup" name="pro_bg" id="bloodgroup" required>

    <label for="phone number"><b>Phone Number</b></label>
    <input type="number" placeholder="Phone number" name="pro_pnumber" id="pnumber" required>

    <label for="address"><b>Address</b></label>
    <input type="address" placeholder="Enter address" name="pro_address" id="address" required>

    
    <hr>
    
    <button type="submit" class="registerbtn">Save</button>
  </div>
  
 
</form>
</section>
</body>
</html>
